# /import_files
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
auth.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.push.settings.jsonc
.DS_Store

database/backups
certs/*
.vscode/launch.json
configstore/update-notifier-npm.json
psysh/psysh_history
.docker/mysql/data
.docker/mysql/db-init/*.sql.gz
.docker/mysql/db-init/init-testing.sql

# things that php tools may add when HOME=/srv/app
.cache
.bash_history
.local
.config
