.sirs-survey{
  // font-size: 16px;
}

.question-block{
  position: relative;
  // background: #fafafa;
  margin: 0 0 0;
  // border-top: solid 1px $gray-lighter;
  margin: .75em 0;

  &.followup{
    margin-top: 0;
    padding-left: 1rem;
    border-top: none;

    & label {
      font-weight: normal;
    }
  }

  &.has-errors{
    // @extend .alert;
    // @extend .alert-danger;
  }
}

label,
.question-text
{
  font-weight: 600;

  .question-answers & {
    font-weight: normal;
  }
}

.question-answers{
  margin: .5em auto
}

.error-block{
  @extend .alert;
  @extend .alert-danger;
  font-size: 12px;
  padding: .5em
}
.error-block>.error-list{
}

.priority-group {
  border-bottom: 3px solid;
  border-color: $gray-100;
  padding-bottom: .5rem;

  & h4 {
    border-bottom: 1px solid $gray-200;
  }
}

.question-block.vertical .btn-group{
  @extend .btn-group-vertical;
}

.likert-container
{
  margin-bottom: 2.5rem;

  .likert-prompt
  {
    margin-bottom: .25rem
  }

  & > table {
    margin-bottom: .25rem;
    margin-left: 1.5rem;
    width: 90%;  
  }
  
  & > table thead th {
    border-top: none;
    font-size: .8rem;
    font-weight: normal;
  }
  
  & > table tbody th {
    padding: .5rem;
  }
  
  & > table th:first-child {
    width: 50%;
  }
}



// response data view
  #page-nav.affix {
    top: 10px;
  }
  .nav li.active {
    border-bottom: 3px solid #f0f;
  }

.list-no-indent{
  padding-left: 1em;
}

.separator-bottom{
  margin-bottom: 1em;
  border-bottom: solid 1px $gray-lighter;
  padding-bottom: 1em;
}

.finalized-response-warning{
  @extend .alert;
  @extend .alert-warning;
  padding: .7em;
  margin: 0;
  margin-right: 1em;
}

.notification{
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
  margin: auto;
}

.indent {
  margin-left: .5rem;
}

.with-followup {
  margin-bottom: 1.75rem;

  & .question-block {
    margin-bottom: .125rem;
  }

  & .question-answers {
    margin: .125rem auto 0;
    
    & label:last-child {
      margin-bottom: .125rem;
    }
  }
}

.followup-question {
  @extend .indent;
  margin-top: 0rem;

}